        <div class=" bg-dark">
        <section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>		
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-12 col-md-12">
							<h5 class="text-white text-uppercase">Luna Bank</h5>
							<h1 class="text-uppercase">
								Bank of Opportunity			
							</h1>
							<p class="text-white pt-20 pb-20">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br> or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
							</p>
							<a [routerLink]="['/user/registration']"class="btn btn-secondary  text-uppercase m-2">Open Account Today</a>
						</div>												
					</div>
				</div>
            </section>
            <section class="convert-area mt-1 mb-2" id="convert" >
				<div class="container">
					<div class="convert-wrap">
						<div class="row justify-content-center align-items-center flex-column pb-30">
							<h1 class="text-white">Luna Bank</h1>
							<p class="text-white">Bank of Opportunity where everything is possible.</p>							
						</div>
						<div class="d-flex justify-content-center align-items-start">
							<div>
								<img class="d-block mx-auto w-75" src="../assets/img/Numismatics_and_Notaphily_icon.png" alt="" >
							</div>
						
						</div>						
					</div>
				</div>	
            </section>
        </div>
        <section class="simple-services-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4  single-services" >
                        <img src="../assets/img/1451868.svg" alt="" class="w-25 mb-2" >
                        <a href="#"><h4 class="pt-30 pb-20">Save time</h4></a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                        </p>
                    </div>
                    <div class="col-lg-4 single-services">
                        <img src="../assets/img/clipart1572251.png" class="w-25 mb-2"  alt="" style="margin-top: 1.5em;">
                        <a href="#"><h4 class="pt-30 pb-20">Savings</h4></a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                        </p>
                    </div>
                    <div class="col-lg-4 single-services">
                        <img src="../assets/img/iconfinder_22_3319622.png"class="w-25 mb-2"  alt="">
                        <a href="#"><h4 class="pt-30 pb-20">Fast Withdraw</h4></a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                        </p>
                    </div>												
                </div>
            </div>	
        </section>