<footer class="page-footer font-small mdb-color darken-3 pt-4 bg-dark">
<div class="container">
<div class="col-md-12 py-5">
    <div class="mb-5 d-flex justify-content-center">

      <!-- Facebook -->
      <a class="fb-ic">
        <i class="fa fa-facebook text-white mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!-- Twitter -->
      <a class="tw-ic">
        <i class="fa fa-twitter text-white mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!-- Google +-->
      <a class="gplus-ic">
        <i class="fa fa-google-plus text-white mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!--Linkedin -->
      <a class="li-ic">
        <i class="fa fa-linkedin text-white mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!--Instagram-->
      <a class="ins-ic">
        <i class="fa fa-instagram text-white mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!--Pinterest-->
      <a class="pin-ic">
        <i class="fa fa-pinterest-p text-white fa-2x"> </i>
      </a>
    </div>
  </div>
  <!-- <Grid> column -->


<!-- Grid row-->

</div>
<!-- Footer Elements -->

<!-- Copyright -->
<div class="footer-copyright text-white text-center py-3">© 2020 Copyright:
<a href="#"> LunaBanks.com</a>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->